.about-section {
    .about-title {
        font-size: 2rem;
        letter-spacing: .04em;
        font-weight: 900;

        text-decoration: none;
        line-height: 1;
        color: #939393;
        display: inline-block;

        .letter {
            color: transparent;
            background: linear-gradient(to right, #ffffff, #ffffff 50%, #858585 50%);
            background-clip: text;
            background-size: 200% 100%;
            background-position: 100% 0%;
        }
    }

    @include media-breakpoint-up (md) {
        .about-title {
            font-size: 3rem;
            line-height: 3.25rem;
        }
    }
}
