.contact-section {
    min-height: 100vh;
    display: grid;
    place-content: center stretch;
    h2 {
        font-size: 3rem;
        color: $white;
    }

    .links {
        text-align: center;
    }

    @include media-breakpoint-up(md) {
        h2 {
            font-size: 4rem;
        }
    }
    @include media-breakpoint-up(lg) {
        h2 {
            font-size: 5rem;
        }
    }
}
