.flow-field-playground {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 550px;
    padding: .5rem;
    background-color: darken($body-bg, 1);

    #flow-field-controller-toggler {
        margin: 0 auto;
        display: block;
        font-size: 1rem;
    }

    .control-panel {
        max-height: 0px;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }
}

@include media-breakpoint-up(md) {
    .flow-field-playground {
        max-width: 80%;
    }
}
@include media-breakpoint-up(lg) {
    .flow-field-playground {
        max-width: 600px;
    }
}


body {
    &.flow-field-controller-open {
        main {
            opacity: 0;
            pointer-events: none;
        }
        .flow-field-playground {
            opacity: 0;
            transition: all .3s ease-in-out;

            &:hover {
                opacity: 1;
            }
            .control-panel {
                max-height: 400px;
                overflow: auto;


                .panel-mode-selected {
                    .panel-mode {
                        max-height: 0px;
                        overflow: hidden;
                        transition: all .3s ease-in-out;
                        margin-left: 1.5rem;
                        font-size: .8rem;

                        label {
                            margin: 0;
                        }
                    }

                    &.mode-random-noise {
                        [random-noise] {
                            max-height: 500px;
                        }
                    }
                    &.mode-attractor {
                        [attractor] {
                            max-height: 500px;
                        }
                    }
                    &.mode-vortex {
                        [vortex] {
                            max-height: 500px;
                        }
                    }
                }

                
            }
        }
    }
}