// Base
$body-bg: #1a1a1a;
$border-radius: 0;
$spacer: 1.5rem;

// Colors
$danger: #DC0A2E;
$gray: #EBF0F5;
$body-color: #fff;

// Container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1060px,
  xxl: 1110px
);


// Typo
$font-family-base: 'Source Code Pro Variable', sans-serif;
$font-size-base:              0.9375rem;
$headings-margin-bottom:      $spacer;
$headings-font-family:        'Source Code Pro Variable', sans-serif;
$headings-font-style:         null;
$headings-font-weight:        800;
$headings-line-height:        1.3;
$headings-color:              #333;